@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Develop by Sajdah</h1>
    <p>Let's Learn DevOps <a href="https://www.google.com/">Click here</a>.</p>
</div>
